<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Habit Counter</title>
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet" href="font-awesome.min.css">
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>Simple Habit Counter</h1>
  <h2>Keep a tally of your habits for the month! Use the prefilled hobbies, or customize your experience with the form.</h2>
  <p>Your most <span class="blue">recent</span> hobby will appear at the <span class="blue">top</span> of the list, while the hobbies that you haven't done in a while we be at the bottom.</p>
  <div class="input">
  <h2>Add a personal habit!</h2>
  <form action="/habit" method="POST">
    <input type="text" placeholder="Habit" name="habit">
    <!-- <input type="date" placeholder="Habit" name="previousDate" required> -->
    <button type="submit">Submit</button>
  </form>
  </div>
  <ul class="habit">
  <% for (let i=0; i < info.length; i++) {%>
    <li class="habit">
      <span class="habitText"><%= info[i].habit %></span>
      <span class="blue"><%= info[i].done %></span>
      <span><%= new Date(info[i].timeStamp).toLocaleDateString() %> at <%= new Date(info[i].timeStamp).toLocaleTimeString() %></span>
      <span><button class="check">✔</button></span>
      <span><button class="fa fa-trash" aria-hidden="true"x></button></span>
    </li>
  <% } %>
  </ul>

  <script src="main.js"></script>

</body>
</html>
